<app-menu></app-menu>
<app-cabecera></app-cabecera>

<section>
  <div class="form-box">
    <div class="form-value">
      <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">

        <div class="contenedor-titulo">
          <br>
          <h2>Registrar Usuario</h2>
          <br>
        </div>

      

        <div class="inputbox" [class.ng-invalid]="username.invalid && (username.dirty || username.touched)">
          <i class="fas fa-user"></i>
          <input type="text" [(ngModel)]="Usuario.username" name="username" required #username="ngModel">
          <label for="">Usuario</label>
        </div>

        <div class="inputbox" [class.ng-invalid]="password.invalid && (password.dirty || password.touched)">
          <i class="fas fa-phone"></i>
          <input type="text" [(ngModel)]="Usuario.password" name="password" required #password="ngModel">
          <label for="">Password</label>
        </div>

        
        <button mat-raised-button color="primary" class="full-width-button" type="submit" [disabled]="!registerForm.valid">Registrar</button>

      </form>
    </div>
  </div>
</section>
