<mat-toolbar color="primary">
  <button mat-button routerLink="/home" class="hover-grow"><mat-icon>home</mat-icon> Home</button>
  <span class="separator"></span>

  
  <mat-menu #menu4="matMenu">
    <button mat-menu-item *ngFor="let curso of cursos" (click)="irACategoria(curso.category)">
      <mat-icon>{{ curso.icon }}</mat-icon>{{ curso.category }}
    </button>
  </mat-menu>
  
<!-- Tickets -->
<button mat-button [matMenuTriggerFor]="menu3" class="hover-grow">
  <mat-icon>assignment</mat-icon> Usuario
</button>
<mat-menu #menu3="matMenu">
  <button mat-menu-item routerLink="/actualizar-usuario/:id"><mat-icon>list_alt</mat-icon>Actualizar datos</button>
  <button mat-menu-item routerLink="/usuario-curso"><mat-icon>list_alt</mat-icon>tus cursos</button>

</mat-menu>



<button mat-button [matMenuTriggerFor]="menu2" class="hover-grow">
  <mat-icon>assignment</mat-icon> curso
</button>
<mat-menu #menu2="matMenu">
  <button mat-menu-item routerLink="/crear-curso"><mat-icon>list_alt</mat-icon>crear curso</button>
  <button mat-menu-item routerLink="/mant-curso"><mat-icon>list_alt</mat-icon>mantenimiento curso</button>

</mat-menu>

  <span class="spacer"></span>

  

  <!-- Cobrar -->
 

  <span class="separator"></span>

  <!-- Cerrar Sesión -->
  <button mat-button color="warn" class="hover-grow" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon> Cerrar Sesión
  </button>
</mat-toolbar>
