<mat-toolbar color="primary">
  <button mat-button routerLink="/home" class="hover-grow"><mat-icon>home</mat-icon> Home</button>
  <span class="separator"></span>

  <!-- Usuarios -->
  <button mat-button *ngIf="isAdmin" [matMenuTriggerFor]="menu" class="hover-grow">
    <mat-icon>person</mat-icon> Usuarios
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/create-empleado" ><mat-icon>person_add</mat-icon> Crear Empleado</button>
    <button mat-menu-item routerLink="/create-usuario" ><mat-icon>person_add</mat-icon> Crear Usuario</button>
    <button mat-menu-item routerLink="/mant-empleado" ><mat-icon>build</mat-icon> Mantenimiento Empleados</button>
    <button mat-menu-item routerLink="/mant-usuario" ><mat-icon>build</mat-icon> Mantenimiento Usuarios</button>
  </mat-menu>

  <!-- Clientes -->
  <button mat-button *ngIf="isAdmin || isGeneral" [matMenuTriggerFor]="menu2" class="hover-grow">
    <mat-icon>group</mat-icon> Clientes
  </button>
  <mat-menu #menu2="matMenu">
    <button mat-menu-item routerLink="/create-cliente" ><mat-icon>person_add</mat-icon> Crear Cliente</button>
    <button mat-menu-item routerLink="/mant-cliente"><mat-icon>build</mat-icon> Mantenimiento Clientes</button>
  </mat-menu>

  <!-- Tickets -->
  <button mat-button [matMenuTriggerFor]="menu4" class="hover-grow">
    <mat-icon>assignment</mat-icon> Cursos
  </button>
  <mat-menu #menu4="matMenu">
    <button mat-menu-item routerLink="/mant-ticket"><mat-icon>list_alt</mat-icon>Lenguaje</button>
    <button mat-menu-item routerLink="/desarrollo-personal"><mat-icon>category</mat-icon>Desarrollo Personal</button>
    <button mat-menu-item routerLink="/negocios-emprendimiento"><mat-icon>category</mat-icon>Negocios y Emprendimiento</button>
    <button mat-menu-item routerLink="/tecnologia-informacion"><mat-icon>category</mat-icon>Tecnología de la Información</button>
    
  </mat-menu>
  
<!-- Tickets -->
<button mat-button [matMenuTriggerFor]="menu3" class="hover-grow">
  <mat-icon>assignment</mat-icon> Usuario
</button>
<mat-menu #menu3="matMenu">
  <button mat-menu-item routerLink="/create-cliente"><mat-icon>list_alt</mat-icon>crear</button>
 
</mat-menu>

  <!-- Facturas -->
  <button mat-button [matMenuTriggerFor]="menu5" class="hover-grow">
    <mat-icon>receipt</mat-icon> Facturas
  </button>
  <mat-menu #menu5="matMenu">
    <button mat-menu-item routerLink="/mant-factura"><mat-icon>list_alt</mat-icon>Historial Facturas</button>
  </mat-menu>

  <span class="spacer"></span>

  

  <!-- Cobrar -->
 

  <span class="separator"></span>

  <!-- Cerrar Sesión -->
  <button mat-button color="warn" class="hover-grow" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon> Cerrar Sesión
  </button>
</mat-toolbar>
